.avatar.online::after {
    content: '';
    position: absolute;
    bottom: 1;
    right: 0;
    width: 12px;
    height: 12px;
    background-color: #4caf50; /* Green */
    border: 2px solid white;
    border-radius: 50%;
}
